.signup-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}
input{
    padding: 0 4px;
    border-radius: 5px;
}                              
.login-path{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}
.signup-page-title{
    color:rgb(74, 74, 74);
}