.modal{
    width:550px;
    background-color: #000;
    height: 700px;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}
@media only screen and (max-width:620px) {
    .modal{
        width:90vw;
        padding: inherit 1.5rem;
    }
}

@media only screen and (max-height:670px) {
    .modal{
        height:650px;
    }
}