.list-item{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 6px 18px;
    /* margin-bottom: 12px; */
}
@media screen and (min-width:781px){
    .nav-links{
        /* flex-direction: column; */
        /* width: 50%; */
        display: flex;
        align-items:  center;
        justify-content: center;
        gap: 1rem;
    }
    
}
.nav-2{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-link:hover{
    border-bottom: 2px solid #e75811;
    transition:.2s ease-in-out;
}
.nav-link{
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(87, 85, 85);
    font-size: 14px;
    font-weight: 700;
    text-wrap:nowrap;
    /* background-color: aqua; */
}
#userProfile{
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(87, 85, 85);
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgb(210, 210, 210);
}
.nav-links-mobile{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    padding: 1rem;
    transform-origin: 1px;
    transition: all .3s ease-in;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 5rem;
    right: 1rem; 

}
#my-trips{
    border: none;
    /* width: max-content; */
    text-wrap:nowrap;
    .icon{
        font-size: 20px;
        margin-top: 8px;
    }
}
@media screen and (max-width:500px) {
    #my-trips{
        text-wrap:wrap;
        width: fit-content;
    }
    #userProfile{
        width: fit-content;
    }    
    .profile-info-btn{
        display: none;
    }
}
.icon{
    color:#2274E0;
    font-size: 16px;
}


#brand-logo{
    background-color: white;
    >img{
        width: 120px;
    }
}
.nav-labels{
    display: inline;
    margin-left: 8px;
}
.nav-manage-trip{
    display: flex;
    align-items: center;
    justify-content: center;

    >.my-trip{
        margin-left: 8px;
        >span{
            font-weight: 500;
            font-size: 12px;
        }
    }
}
.profile-btn{
    display: flex;
    align-items: center;
    >.profile-info-btn{
        margin-left: 8px;
    }
}
/* @media screen and (max-width:800){
    .nav-labels{
        display: none;
    }
} */
.hamburger{
    margin:1rem ;
    display: none;
}

@media screen and (max-width:781px){
    .hamburger{
        display:initial;
        color: rgb(87, 85, 85) !important;
    }
    .nav-links{
        display: none;
    }
    .nav-link{
        background-color: white;
        border: none;
    }
    
    .nav-labels{
        display: contents;
    }

    .profile-info-btn{
        text-align: center;
    }   
    
}
.navbar .active{
    background-color: rgb(34, 116, 224);
    color:aliceblue;
    transition: ease-in 0.3s;
    >.icon{
        color: aliceblue;
    }
}