#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: white;
}

/* grid w-full grid-cols-2 gap-8 px-6 py-8 md:grid-cols-4 */
.footer-section-1{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:8;
    padding: 4rem 6rem;
    text-align: center;
}
.footer-section-2{
    /* w-full bg-gray-700 px-4 py-6 sm:flex sm:items-center sm:justify-between */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 4rem;
}
@media screen and (max-width:1200px) {
    .footer-section-1{   
        grid-template-columns: 1fr 1fr;
    }
}
/* .icon{
    color: black;
} */
.footer-title{
    margin: 1rem 0;
    font-size: 20px;
    font-weight: 600;
}
.footer-link-group>div{
    /* padding-left: 2rem; */
    /* text-align:start; */
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-self:center;
}
/* mt-4 flex space-x-6 sm:mt-0 sm:justify-center */
.social-media-links{
    display: flex;
    /* margin: auto 3rem; */
    gap: 1rem;
    justify-content: center;
}
/* .icon{
    border-left: 1px solid black;
} */